#image{
    height: 70px;
}
.me-2:hover{
    color: rgb(6, 179, 179);
    cursor: pointer;
}
.nav-link:hover{
    border-bottom: 1px solid white;
}
#image2{
    width: 380px;
    height: 400px;
}

.background{
    position: relative;
    height: 70vh;
    background: url(./image/festival.jpg) top center/cover;
}
#image4{
    height: 120px;
    width: 120px;
}
i:hover{
    color: aqua;
    cursor: pointer;
}